Repository OpenRadioss/OpenRadioss, pull requests merged in 2023-04, with the labels that each got.

#1322 fixing the 132-character-limit
  starter/source/loads/pblast/hm_read_pblast.F
Labels: bug, starter

#1323 cfg files corrections
  hm_cfg_files/messages/CONFIG/msg_arrays.cfg
  hm_cfg_files/messages/CONFIG/msg_hw_radioss_reader.txt
  hm_cfg_files/messages/CONFIG/msg_table.cfg
Labels: bug

#1321 Fix end of spring failure filtering
  engine/source/elements/spring/r23l108def3.F
  engine/source/elements/spring/r23l113def3.F
  engine/source/elements/spring/r2def3.F
  engine/source/elements/spring/r4def3.F
  engine/source/elements/spring/r6def3.F
Labels: bug, engine
